@model QLNS.Models.NhanVien

@{
    ViewData["Title"] = "Sửa Lương";
}
<div class="card">
    <h5 class="card-header text-center">@ViewData["Title"] </h5>
    <div class="card-body">
        <form asp-action="Edit" enctype="multipart/form-data" style="display:inline-flex">
            <input type="hidden" asp-for="ID" />
            <dl class="row" style="width:40%; margin-left:30px">
                <div class="mb-3">
                    <label asp-for="MaNhanVien" class="control-label"></label>
                    <input asp-for="MaNhanVien" class="form-control" readonly />
                    <span asp-validation-for="MaNhanVien" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label asp-for="TenNhanVien" class="control-label"></label>
                    <input asp-for="TenNhanVien" class="form-control" />
                    <span asp-validation-for="TenNhanVien" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label asp-for="DuLieuHinhAnh" class="control-label"></label>
                    <input asp-for="DuLieuHinhAnh" accept="image/jpeg,image/gif,image/png" class="form-control" />
                    <span asp-validation-for="DuLieuHinhAnh" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label asp-for="GioiTinh" class="control-label"></label>
                    <input asp-for="GioiTinh" class="form-control" />
                    <span asp-validation-for="GioiTinh" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label asp-for="NgaySinh" class="control-label"></label>
                    <input type="date" asp-for="NgaySinh" class="form-control" />
                    <span asp-validation-for="NgaySinh" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label asp-for="SDT" class="control-label"></label>
                    <input asp-for="SDT" class="form-control" />
                    <span asp-validation-for="SDT" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label asp-for="CanCuocCongDan" class="control-label"></label>
                    <input asp-for="CanCuocCongDan" class="form-control" />
                    <span asp-validation-for="CanCuocCongDan" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label asp-for="NoiCapCanCuoc" class="control-label"></label>
                    <input asp-for="NoiCapCanCuoc" class="form-control" />
                    <span asp-validation-for="NoiCapCanCuoc" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label asp-for="NgayCapCanCuoc" class="control-label"></label>
                    <input type="date" asp-for="NgayCapCanCuoc" class="form-control" />
                    <span asp-validation-for="NgayCapCanCuoc" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label asp-for="Email" class="control-label"></label>
                    <input asp-for="Email" class="form-control" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
            </dl>
            <dl claas="row" style="width:40%;margin-left:14%">
                <div class="mb-3">
                    <label asp-for="DiaChi" class="control-label"></label>
                    <input asp-for="DiaChi" class="form-control" />
                    <span asp-validation-for="DiaChi" class="text-danger"></span>
                </div>


                <div class="mb-3">
                    <label asp-for="BangCapID" class="control-label"></label>
                    <select asp-for="BangCapID" class="form-control" asp-items="ViewBag.BangCapID">
        
                    </select>
                    <span asp-validation-for="BangCapID" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label asp-for="ChucVuID" class="control-label"></label>
                    <select asp-for="ChucVuID" class="form-control" asp-items="ViewBag.ChucVuID">
                      
                    </select>
                    <span asp-validation-for="ChucVuID" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label asp-for="ChuyenMonID" class="control-label"></label>
                    <select asp-for="ChuyenMonID" class="form-control" asp-items="ViewBag.ChuyenMonID">
        
                    </select>
                    <span asp-validation-for="ChuyenMonID" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label asp-for="DanTocID" class="control-label"></label>
                    <select asp-for="DanTocID" class="form-control" asp-items="ViewBag.DanTocID">
       
                    </select>
                    <span asp-validation-for="DanTocID" class="text-danger"></span>
                </div>

                <div class="mb-3">
                    <label asp-for="PhongBanId" class="control-label"></label>
                    <select asp-for="PhongBanId" class="form-control" asp-items="ViewBag.PhongBanId">
               
                    </select>
                    <span asp-validation-for="PhongBanId" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label asp-for="QuocTichID" class="control-label"></label>
                    <select asp-for="QuocTichID" class="form-control" asp-items="ViewBag.QuocTichID">
    
                    </select>
                    <span asp-validation-for="QuocTichID" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label asp-for="TonGiaoID" class="control-label"></label>
                    <select asp-for="TonGiaoID" class="form-control" asp-items="ViewBag.TonGiaoID">
 
                    </select>
                    <span asp-validation-for="TonGiaoID" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label asp-for="TrinhDoID" class="control-label"></label>
                    <select asp-for="TrinhDoID" class="form-control" asp-items="ViewBag.TrinhDoID">
               
                    </select>
                    <span asp-validation-for="TrinhDoID" class="text-danger"></span>
                </div>
                <div class="mb-0">
                    <button type="submit" class="btn btn-primary"><i class="fa-light fa-floppy-disk"></i> Thêm mới</button> hoặc <a asp-action="Index">Quay về danh sách</a>
                </div>
            </dl>
        </form>
    </div>
</div>
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
