@model QLNS.Models.CongTac

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>CongTac</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="MaCongTac" class="control-label"></label>
                <input asp-for="MaCongTac" class="form-control" />
                <span asp-validation-for="MaCongTac" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NhanVienID" class="control-label"></label>
                <select asp-for="NhanVienID" class ="form-control" asp-items="ViewBag.NhanVienID"></select>
            </div>
            <div class="form-group">
                <label asp-for="ChucVuID" class="control-label"></label>
                <select asp-for="ChucVuID" class ="form-control" asp-items="ViewBag.ChucVuID"></select>
            </div>
            <div class="form-group">
                <label asp-for="NgayBatDau" class="control-label"></label>
                <input asp-for="NgayBatDau" class="form-control" />
                <span asp-validation-for="NgayBatDau" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NgayKetThuc" class="control-label"></label>
                <input asp-for="NgayKetThuc" class="form-control" />
                <span asp-validation-for="NgayKetThuc" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DiaDiemCongTac" class="control-label"></label>
                <input asp-for="DiaDiemCongTac" class="form-control" />
                <span asp-validation-for="DiaDiemCongTac" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MucDich" class="control-label"></label>
                <input asp-for="MucDich" class="form-control" />
                <span asp-validation-for="MucDich" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TrangThai" class="control-label"></label>
                <select asp-for="TrangThai" class="form-control"></select>
                <span asp-validation-for="TrangThai" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
