@model QLNS.Models.ThongKeThang

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>ThongKeThang</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ID" />
            <div class="form-group">
                <label asp-for="TenNhanVien" class="control-label"></label>
                <input asp-for="TenNhanVien" class="form-control" />
                <span asp-validation-for="TenNhanVien" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TenChucVu" class="control-label"></label>
                <input asp-for="TenChucVu" class="form-control" />
                <span asp-validation-for="TenChucVu" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Thang" class="control-label"></label>
                <input asp-for="Thang" class="form-control" />
                <span asp-validation-for="Thang" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ThucLanh" class="control-label"></label>
                <input asp-for="ThucLanh" class="form-control" />
                <span asp-validation-for="ThucLanh" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TongDoanhThuThang" class="control-label"></label>
                <input asp-for="TongDoanhThuThang" class="form-control" />
                <span asp-validation-for="TongDoanhThuThang" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
