@model QLNS.Models.HopDong

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>HopDong</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="MaHopDong" class="control-label"></label>
                <input asp-for="MaHopDong" class="form-control" />
                <span asp-validation-for="MaHopDong" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TenHopDong" class="control-label"></label>
                <input asp-for="TenHopDong" class="form-control" />
                <span asp-validation-for="TenHopDong" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NgayBatDau" class="control-label"></label>
                <input asp-for="NgayBatDau" class="form-control" />
                <span asp-validation-for="NgayBatDau" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NgayKetThuc" class="control-label"></label>
                <input asp-for="NgayKetThuc" class="form-control" />
                <span asp-validation-for="NgayKetThuc" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NoiDung" class="control-label"></label>
                <textarea asp-for="NoiDung" class="form-control"></textarea>
                <span asp-validation-for="NoiDung" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NgayKy" class="control-label"></label>
                <input asp-for="NgayKy" class="form-control" />
                <span asp-validation-for="NgayKy" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NhanVienID" class="control-label"></label>
                <select asp-for="NhanVienID" class ="form-control" asp-items="ViewBag.NhanVienID"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
